---
layout: default
---

<div class="home">
    <div class="flex-container">
        <div class="intro-brand">
            <h1 id="blog-brand">Blog</h1>
            <h2 class="blog-subtitle">web development tips</h2>
            <h2 class="blog-subtitle">travel experiences</h2>
            <h2 class="blog-subtitle">personal ramblings</h2>
            <h2 class="blog-subtitle">and and everything else</h2>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <div class="col-lg-3 col-md-3 main-block tags">
                <h2>Archive</h2>
                {% capture site_tags %}{% for tag in site.tags %}{{tag | first}}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
                {% assign sortedTags=site_tags | split:',' | sort %}
                {% for tag in sortedTags %}
                <span class="tag"><a href="{{site.baseurl}}/archive/index.html#{{tag | cgi_escape}}">{{tag}}</a></span>
                {% endfor %}
                <a href="{{site.baseurl}}/archive" class="text-center"><h3 class="all-tags">[All Tags]</h3></a>
                <div id="divider"></div>
                <h2>Recent Photos</h2>
                {% for photo in site.static_files limit:7 | sort: 'modified_time' %}
                {% if photo.path contains 'images' %}
                <a href="{{site.baseurl}}/photos"><img src="{{site.baseurl}}{{photo.path}}" alt=""></a>
                {% endif %}
                {% endfor %}
                <a href="{{site.baseurl}}/photos"><h3 class="all-posts">[All Photos]</h3></a>
            </div>
            <div class="col-lg-offset-1 col-lg-8 col-md-offset-1 col-md-8 main-block">
                <h1>Recent Posts</h1>
                {% for post in site.posts limit:5 %}
                <br />
                <h2>{{post.title}}</h2>
                <h4><time itemprop="dateCreated" datetime="{{post.date}}">{{post.date | date:"%B %-d, %Y"}}</time></h4>
                <hr>
                <p>
                    {{post.excerpt | strip_html}}...<a href="{{site.baseurl}}{{post.url}}">[read more]</a>
                </p>
                {% endfor %}
                <a href="{{site.baseurl}}/posts/index.html"><h3 class="all-posts">[All Posts]</h3></a>
            </div>
        </div>
    </div>
</div>
