<footer>
    <h2>&copy; 2016 Diana Ruth</h2>
    <div class="footer-flex-container">
        <a href="https://www.facebook.com/diana.ruth.16"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
        <a href="https://github.com/{{github_username}}"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/channel/UCDv_zt5mQC0mGGY-8wS9YxA"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/diana-ruth-baba3981"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
        <a href="mailto:hello@dianaruth.me"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a>
    </div>
</footer>
