.indented {
    margin-left: 20px;
    margin-top: 10px;
    h2, h3 {
        display: inline;
    }
}

.tag-cloud {
    margin-bottom: 60px;
}

.archive-tag {
    &:hover {
        background-color: $off-white;
        cursor: default;
    }
}

@media (max-width: 650px) {
    .indented {
        h2 {
            font-size: 20px;
        }
        h3 {
            font-size: 18px;
        }
    }
}