h1 {
    font-family: $nav-link-font;
    color: $bright-blue;
    font-weight: bolder;
}

h2 {
    font-family: $heading-font;
    color: $off-white;
}

h3 {
    font-family: $heading-condensed-font;
    color: white;
}

h4 {
    font-family: $nav-link-font;
    color: $bright-blue;
    font-weight: bold;
}

h5 {
    font-family: $heading-font;
    color: $off-white;
}

h6 {
    font-family: $heading-condensed-font;
    color: white;
}

p {
    font-family: $paragraph-font;
    color: $pale-blue;
    font-weight: 100;
}

li {
    font-family: $paragraph-font;
    color: $off-white;
    font-size: 17px;
}

a {
    font-family: $paragraph-font;
    color: $bright-blue;
    &:hover {
        color: $off-white;
    }
}

strong {
    font-weight: 900;
    color: #80dfff;
    font-size: 16px;
}

code {
    color: $dark-grey;
}

pre {
    background-color: $almost-white;
    border-radius: 0px;
}

blockquote {
    p {
        color: $off-white;
    }
}

img {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
