.post-list, .archive, .photos {
    background-color: $mid-grey;
    min-height: 800px;
}

#post-list-header {
    font-family: $nav-brand-font;
    font-size: 70px;
}

.date-col {
    h5 {
        margin-top: 25px;
        font-size: 20px;
    }
}

#newer-posts {
    float: left;
    font-size: 20px;
    margin: 20px;
    margin-left: 50px;
}

#older-posts {
    float: right;
    font-size: 20px;
    margin: 20px;
    margin-right: 50px;
}
