---
layout: default
---

<div class="post-list">
    <div class="container">
        <div class="row">
            <h1 id="post-list-header">Posts</h1>
            <br />
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 date-col">
                <h5>January 19, 1994 4:56 AM</h5>
            </div>
            <div class="col-lg-9 col-md-9">
                <h3>Post 1</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...<a href="#">[read more]</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 date-col">
                <h5>November 19, 1994 12:58 AM</h5>
            </div>
            <div class="col-lg-9 col-md-9">
                <h3>Post 2</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...<a href="#">[read more]</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 date-col">
                <h5>December 31, 1994 4:56 PM</h5>
            </div>
            <div class="col-lg-9 col-md-9">
                <h3>Post 3</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...<a href="#">[read more]</a>
                </p>
            </div>
        </div>
        <a href="#" id="newer-posts">[Newer]</a>
        <a href="#" id="older-posts">[Older]</a>
    </div>
</div>
