---
layout: default
---

<div class="post">
    <div class="container">
        <h1>{{page.title}}</h1>
        <h2><time itemprop="dateCreated" datetime="{{page.date}}">{{ page.date | date: "%B %-d, %Y" }}</time></h2>
        {{content}}
        <br>
        <div class="tags">
            <h3>Tags: </h3>{% for tag in page.tags %}<span class="tag"><a href="#">{{tag}}</a></span>{% endfor %}
        </div>
        <div class="back-all-posts-wrapper text-center"><a class="back-all-posts" href="{{site.baseurl}}/posts/">[<< All Posts]</a></div>
    </div>
</div>
